
<h1>Roasts</h1>

<table>
    <tr>
        <th>Name</th>
    </tr>

    <% @roasts.each do |roast| %>
        <tr>
            <td><%= roast.name %></td>
            <td><%= link_to 'Show', roast_path(roast) %></td>
        </tr>
    <% end %>
</table>

<p><%= link_to 'New Roast', new_roast_path %></p>
