{% extends "roasts/base.html" %}
{% block content %}

{%  if roast %}

<script>
    $(document).ready(function() {
        var baseSnapshotUrl = "{% url 'roasts:snapshots' roast.id %}";
        var specUpdateUrl = "{% url 'roasts:specupdate' roast.id %}";
        var roastCtrlUrl = "{% url 'roasts:roastctrl' roast.id %}";
        var last = 0;
        var snapshots = [];
        var is_active = {% if roast.is_active_roast %}1 {% else %} 0 {% endif %};
        var any_active = {% if active %}1 {% else %} 0 {% endif %};

        var initialValues = {
            "heater": {% if roast.heater %}{{ roast.heater }}{% else %} 0 {% endif %},
            "drawfan": {% if roast.drawfan %}{{ roast.drawfan }}{% else %} 0 {% endif %},
            "scrollfan": {% if roast.scrollfan %}{{ roast.scrollfan }}{% else %} 0 {% endif %},
            "drum": {% if roast.drum %}{{ roast.drum }}{% else %} 0 {% endif %}
        }

        for (var key in initialValues){
            $("#" + key).each(function(){
                $(this).val(initialValues[key]);
            });
        }

        if (!is_active && any_active){
            console.log("another roast is in progress");
            $("#btn-onoff-wrapper").hide()
            $("#activeRoastWarning").hide()
        }

        if (is_active){
            console.log("this roast is in progress");
            $("#btn-onoff").show();
            $("#btn-onoff").text("Stop");
            $("#btn-onoff").removeClass("btn-success");
            $("#btn-onoff").addClass("btn-danger");
            $("#activeRoastWarning").show()
        }

        if (!is_active && !any_active){
            console.log("no roasts are in progress");
            $("#btn-onoff").show()
            $("#btn-onoff").text("Start")
            $("#btn-onoff").removeClass("btn-danger")
            $("#btn-onoff").addClass("btn-success")
            $("#activeRoastWarning").hide()
        }

        $("#btn-onoff").click(function(){
            // if active, we want False (off), vice versa
            var onoff = !is_active;

            $.ajax({
                url: roastCtrlUrl,
                data: { onoff: onoff},
                success: function(data, status, xhr){
                    is_active = onoff;
                    if(is_active){
                        console.log("a roast is not currently active");
                        $("#btn-onoff").text("Stop");
                        $("#btn-onoff").removeClass("btn-success");
                        $("#btn-onoff").addClass("btn-danger");
                        $("#activeRoastWarning").show();

                    } else {
                        console.log("a roast is not currently active");
                        $("#btn-onoff").text("Start");
                        $("#btn-onoff").removeClass("btn-danger");
                        $("#btn-onoff").addClass("btn-success");
                        $("#activeRoastWarning").hide();
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert(textStatus + " " + errorThrown)
                },
                dataType: "text"
            });
        });

        $("#btn-cool").click(function(){
            $("#heater").val(0);
            $("#drawfan").val(10);
            $("#scrollfan").val(10);
            $("#drum").val(2);
            $("#heater").trigger('change');
        });

        $(".roaster-element").change(function(){
            var name = $(this).attr("id")
            var value = $(this).val()

            var data = {}
            $(".roaster-element").each(function(){
                data[$(this).attr("id")] = $(this).val()
            });

            $.ajax({
                url: specUpdateUrl,
                data: data,
                success: function(data, status, xhr){
                    console.log("success: " + data)
                },
                dataType: "text"
            });
        });

        function refreshSnapshots(){
            if(snapshots.length > 0){
                last = snapshots[snapshots.length - 1].id;
            }
            var snapshotUrl = baseSnapshotUrl + "?last=" + last;
            $.getJSON(snapshotUrl, {}, function(data){
                $.each(data, function(index, s){
                    snapshots.push(s);
                });
            });

            var delay = 5000;
            window.setTimeout(refreshSnapshots, delay);
        }

        var yticks = [];
        for(var i = 0; i < 1000; i++){
            if(i % 50 == 0){
                yticks.push(i)
            } else {
                yticks.push()
            }
        }

        function drawGraph(){
            var env_temp = [];
            var bean_temp = [];
            var heater = [];
            var drawfan = [];
            var scrollfan = [];
            var drum = [];
            for (var i in snapshots){
                env_temp.push([i, snapshots[i].env_temp]);
                bean_temp.push([i, snapshots[i].bean_temp]);
                heater.push([i, snapshots[i].heater]);
                drawfan.push([i, snapshots[i].drawfan]);
                scrollfan.push([i, snapshots[i].scrollfan]);
                drum.push([i, snapshots[i].drum]);
            }

            var options = {
                series: {
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    }
                },
                grid: {
                    hoverable: true //IMPORTANT! this is needed for tooltip to work
                },
                xaxis: {
                    tickFormatter: function(number){
                        if(number < 60){
                            return number + "s"
                        } else {
                            var minutes = Math.floor(number / 60)
                            var remainder = number % 60
                            return minutes + "m" + remainder + "s"
                        }
                    }
                },
                yaxes: [
                    {
                        min: 0,
                        max: 1000,
                        ticks: yticks,
                    },{
                        // align if we are to the right
                        alignTicksWithAxis: 1,
                        position: "right",
//                        ticks: yaxis2ticks,
                        ticks: [0,1,2,3,4,5,6,7,8,9,10]
                    }
                ],
                tooltip: true,
                tooltipOpts: {
                    content: "'%s' %y",
                    shifts: {
                        x: -60,
                        y: 25
                    }
                },
                legend: {
                    position: "nw"
                },
            };

            var plotObj = $.plot($("#roast-line-chart"), [
                {
                    data: env_temp,
                    label: "Env Temp (F)",
                    points: { show: true},
                    lines: { show: false},
                    color: "rgba(255,165,0,1)",
                },
                {
                    data: bean_temp,
                    label: "Bean Temp (F)",
                    points: { show: true},
                    lines: { show: false},
                    color: "rgba(255,215,0,1)",
                },
                {
                    data: heater,
                    label: "heater",
                    yaxis: 2,
                    points: { show: false},
                    lines: { show: true},
                    color: "rgba(255,0,0,0.2)",
                },
                {
                    data: drawfan,
                    label: "drawfan",
                    yaxis: 2,
                    points: { show: false},
                    lines: { show: true},
                    color: "rgba(173,216,230,0.2)",
                },
                {
                    data: scrollfan,
                    label: "scrollfan",
                    yaxis: 2,
                    points: { show: false},
                    lines: { show: true},
                    color: "rgba(30,144,255,0.2)",
                }
            ], options);

            var delay = 3000;
            if (env_temp.length == 0){
                delay = 200;
            }
            window.setTimeout(drawGraph, delay);
        }

        refreshSnapshots();
        drawGraph();
    });
</script>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-16">
            <div class="panel panel-default">
                <div class="panel-heading" id="roast_name">
                    <strong>
                        {{ roast.roast_level }} | {{ roast.bean }} | for {{ roast.customer.name}} | {{ roast.roastdate }}
                    </strong>
                    <span id="activeRoastWarning" class="pull-right alert-danger" style="padding: 5px">Active Roast!</span>
                </div>
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="roast-line-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Heater</label>
                <select class="form-control roaster-element" id="heater">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>Draw Fan</label>
                <select class="form-control roaster-element" id="drawfan">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>Scroll Fan</label>
                <select class="form-control roaster-element" id="scrollfan">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>Drum</label>
                <select class="form-control roaster-element" id="drum">
                    <option value="0">Stop</option>
                    <option value="1">Slow</option>
                    <option value="2">Fast(er)</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>Cooldown</label>
                <button type="button" class="form-control btn btn-primary" id="btn-cool">Cool</button>
            </div>
        </div>

        <div class="col-md-2" id="btn-onoff-wrapper">
            <div class="form-group">
                <label>Roast</label>
                <button type="button" class="form-control btn" id="btn-onoff" value="0">Stop</button>
            </div>
        </div>
    </div>

{% endif %}
{% endblock %}
