{% extends "roasts/base.html" %}
{% block content %}

<div class="col-lg-12">
    <h1 class="page-header">
        New Roast
    </h1>


    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'roasts:update' 0 %}" method="post">
            {% csrf_token %}

            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}

            <div class="fieldWrapper">
                <input type="submit" class="btn btn-danger" value="Roast It!" />
            </div>
        </form>


</div>

{% endblock %}
